.custom-logout-popup {
    width: 260px !important;
    border-radius: 12px !important;
    padding: 25px !important;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.swal2-title {
    font-size: 20px !important;
    font-weight: 700 !important;
    margin-top: 15px !important;
}

.swal2-html-container {
    margin-top: -5px !important;
    font-size: 14px !important;
    color: #555 !important;
}

.swal2-loader {
    border-color: rgb(0, 151, 157) transparent rgb(0, 151, 157) transparent !important;
}